.total__title_text {
    font-size: 60px;

}

@media screen and (max-width: 919px) {
    .total__title_text {
        font-size: 3em;
        line-height: 1.1;
        margin-right: 20px;

    }
}

@media screen and (max-width: 630px) {
    .total__title_text {
        font-size: 1.3em;
        line-height: 1;
    }
}